<% include header %>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Erreur !</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                        <li class="breadcrumb-item active">Erreur</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-exclamation-triangle"></i>
                            Erreur <%= locals.error.status %>
                        </h3>
                    </div>

                    <div class="card-body">
                        <p><%= locals.error.msg || "Une erreur c'est produite, merci de nous contacter dès que possible." %></p>
                        <a href="/" class="btn btn-primary">Revenir à l'accueil</a>          
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<% include footer %>