<%
	include header 
	var settings = JSON.parse( locals.user.auth.settings );
%>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
		  		<div class="col-sm-6">
					<h1>Dashboard</h1>
		  		</div>
		  		<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
			  			<li class="breadcrumb-item active">Dashboard</li>
					</ol>
		  		</div>
			</div>
	  	</div>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

		<div class="row">
			<div class="col-lg-4 col-6">
				<div class="small-box bg-info">
					<div class="inner">
						<h3><%= locals.players.length %></h3>

						<p>Joueurs enregistrés</p>
					</div>
					<div class="icon">
						<i class="fas fa-user"></i>
					</div>
					<a href="#" class="small-box-footer">
					Liste des joueurs <i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3><%= locals.banned.length %></h3>

						<p>Joueurs bannis</p>
					</div>
					<div class="icon">
						<i class="fas fa-exclamation-circle"></i>
					</div>
					<a href="#" class="small-box-footer">
					Liste des joueurs bannis <i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-broadcast-tower"></i>
							Pan vide
						</h3>
					</div>
					<div class="card-body">
						
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

	const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
	});
	
  });
</script>

<% include footer %>